{% case media.media_type %}
  {% when 'image' %}
  <div class="product-media" data-media-id="{{ media.id }}">
    <img
      srcset='{%- if media.width >= 165 -%}
      {{ media | image_url: width: 165 }} 165w,{%- endif -%}
    {%- if media.width >= 360 -%}
      {{ media | image_url: width: 360 }} 360w,{%- endif -%}
    {%- if media.width >= 533 -%}
      {{ media | image_url: width: 533 }} 533w,{%- endif -%}
    {%- if media.width >= 720 -%}
      {{ media | image_url: width: 720 }} 720w,{%- endif -%}
    {%- if media.width >= 940 -%}
      {{ media | image_url: width: 940 }} 940w,{%- endif -%}
    {%- if media.width >= 1066 -%}
      {{ media | image_url: width: 1066 }} 1066w{%- endif -%}"src="{{ media | image_url: width: 533 }}"sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"alt="{{ media.alt | default: product.title | escape }}"loading="lazy'>
  </div>
  {% when 'external_video' %}
  <div class="product-media" data-media-id="{{ media.id }}">
    {{ media | external_video_tag }}
  </div>
  {% when 'video' %}
  <div class="product-media" data-media-id="{{ media.id }}">
    {{ media | video_tag: controls: true }}
  </div>
  {% when 'model' %}
  <div class="product-media" data-media-id="{{ media.id }}">
    {{ media | model_viewer_tag }}
  </div>
{% else %}
  <div class="product-media" data-media-id="{{ media.id }}">
    {{ media | media_tag }}
  </div>
{% endcase %}