{% if section.blocks.size > 0 %}
  <div class="fluid-container faq-section faq--{{ section.id }}">
    <div class="col-12">
      {% if section.settings.heading != blank %}
        <div class="h2 faq-heading--{{ section.id }} text-center mb-4 pt-5">{{ section.settings.heading }}</div>
      {% endif %}
    </div>
    <div class="faq-wrapper page-width pb-3">
      {% for block in section.blocks %}
        {% if block.settings.faq_question != blank and block.settings.faq_answer != blank %}
          <div class="col-10 col-md-8 col-lg-6 m-auto">
            <div class="eachFaq">
              <h4 class="py-3 pe-5 faq-question title">{{ block.settings.faq_question }}</h4>
              <div class="accordion-content">
                <p class="faq-answer">{{ block.settings.faq_answer }}</p>
              </div>
              <!-- //.accordion-content -->
            </div>
          </div>
        {% endif %}
      {% endfor %}
      <div class="col-10 col-md-8  my-5 col-lg-6 m-auto">
        <a class="faq__read-more" href="{{ section.settings.read_more_link }}">SEE MORE</a>
      </div>
    </div>
  </div>
{% endif %}


{% assign main_font = "Sharp Grotesk" %}

{% comment %}
{% if template contains "index" %}
{% assign main_font = "Sharp Grotesk" %}
{% assign second_font = "Inter" %}
{% endif %}
{% if template contains "product" %}
{% assign main_font = "Pluto" %}
{% assign second_font = "Pluto" %}
{% endif %}
{% endcomment %}{% style %}
  .faq__read-more {
    font-family: {{ main_font }}
    ;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: {{ section.settings.link_color }}
    ;
  }
  .faq-heading--{{ section.id }}, .faq-question--{{ section.id}}{
    color: {{ section.settings.text_color }}
    ;
  }

  .faq--{{ section.id }}{
    background-color: {{ section.settings.bg_color }}
    ;
  }
{% endstyle %}
<style>
  .faq-section {
    font-family: {{ main_font }}
    ;

  }
  .faq-question {
    font-family: {{ main_font }}
    ;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-transform: capitalize;
    border-bottom: 1px solid #E8E8E8;
    color: {{ section.settings.text_color }}


  }
  .faq-answer {
    font-size: 14px;
    line-height: 23px;
    opacity: .8;

  }
  .faq_title {
    font-size: 18px;
    line-height: 18px;
    padding: 30px 0;
  }
  h4 {
    position: relative;
  }
  .eachFaq.close h4:before {
    content: '+';
    position: absolute;
    top: 20px;
    right: 0;
    background-color: {{ section.settings.text_color }}
    ;
    color: #fff;
    padding: 0 6px;
    border-radius: 60px;
  }
  .eachFaq.open h4:before {
    content: '-';
    position: absolute;
    top: 20px;
    right: 0;
    background-color: {{ section.settings.text_color }}
    ;
    color: #fff;
    padding: 0 6px;
    border-radius: 60px;
  }
  .eachFaq .title {
    cursor: pointer;
  }
</style>


<script>
  $(document).ready(function() {

    var accordionParentClass = '.eachFaq';
    var accordionQuestionClass = '.eachFaq .title';
    var accordionContentClass = '.accordion-content';

    $(accordionParentClass).each(function() {
      $(this).addClass('close');
      $(this).find(accordionContentClass).hide();
    });

    $(accordionQuestionClass).click(function() {
      var faqClass = $(this).closest(accordionParentClass).attr('class');
      console.log(faqClass);

      if (faqClass.indexOf('close') != -1) { // WHEN CLOSED
        $(accordionParentClass).find(accordionContentClass).slideUp('slow'); // CLOSE ALL
        $(accordionParentClass).addClass('close').removeClass('open'); // set all faq as closed

        $(this).closest(accordionParentClass).removeClass('close');
        $(this).closest(accordionParentClass).addClass('open');
        $(this).closest(accordionParentClass).find(accordionContentClass).slideDown('slow');

      } else {
        $(this).closest(accordionParentClass).addClass('close');
        $(this).closest(accordionParentClass).removeClass('open');
        $(this).closest(accordionParentClass).find(accordionContentClass).slideUp('slow');
      }

    });

  });
</script>

{% schema %}
{
  "name": "FAQ Section",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#E5E5E5"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "FAQ"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#181818"
    },
    {
      "type": "url",
      "id": "read_more_link",
      "label": "Link"
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "Link color",
      "default": "#017149"
    }
  ],
  "blocks": [
    {
      "name": "FAQ",
      "type": "faq-section",
      "settings": [
        {
          "type": "text",
          "id": "faq_question",
          "label": "Question",
          "default": "Question"
        },
        {
          "type": "text",
          "id": "faq_answer",
          "label": "Answer",
          "default": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ Section"
    }
  ]
}
{% endschema %}