<div class="header_nav">
  <div class="container">
    <div class="d-flex justify-content-between logo_row pt-3 pb-3">
      <div class="logo_sec align-items-center d-flex">
      <div>
         <svg width="28" height="21" viewBox="0 0 28 21" fill="none" id="vw_tgm" xmlns="http://www.w3.org/2000/svg" onclick="openNav()">
          <path d="M26.6362 2H1.99982" stroke="white" stroke-width="2.4977" stroke-linecap="round"/>
          <path d="M26.6362 19.4844H1.99982" stroke="white" stroke-width="2.4977" stroke-linecap="round"/>
          <path d="M18.666 10.7422H2.00021" stroke="white" stroke-width="2.4977" stroke-linecap="round"/>
          </svg>
      </div>
      <a class="navbar-brand" href="/"><img src="{{ section.settings.image | image_url: width: 100, height: 100 }}" alt="logo" class="ms-5 w-auto"></a>
       </div>
            
      <div class="align-items-center d-flex shop_sec">       
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none"  class="d-md-inline-block d-none me-4" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.37482 0C11.7771 0 14.18 0.912053 16.0071 2.73899C19.3982 6.12982 19.6407 11.5036 16.7375 15.1797L21.6768 20.1184C21.8837 20.3247 22 20.6049 22 20.897C22 21.1892 21.8837 21.4694 21.6768 21.6759C21.4703 21.8834 21.1897 22 20.8969 22C20.6041 22 20.3236 21.8834 20.117 21.6759L15.1778 16.7371C11.5008 19.6358 6.12786 19.3979 2.73827 16.0089C-0.915632 12.355 -0.911312 6.39261 2.74257 2.73937C4.56968 0.91243 6.97256 0.000376422 9.37482 0.000376422L9.37482 0ZM9.37267 2.1826C7.53669 2.18106 5.70038 2.88354 4.29371 4.29001C1.48044 7.103 1.48044 11.6382 4.29371 14.4515C7.10697 17.2645 11.6384 17.2602 14.4515 14.4472C17.2647 11.6342 17.2647 7.1097 14.4515 4.29671C13.0449 2.89025 11.2086 2.18435 9.37252 2.18286L9.37267 2.1826Z" fill="white"/>
      </svg>
      <a href="#" class="text-decoration-none"><p class="mb-0 me-4 text-white">Shop Now </p></a>
      <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M17.7725 18.0001C20.1395 18.0001 22.0582 16.0814 22.0582 13.7144C22.0582 11.3475 20.1395 9.42871 17.7725 9.42871C15.4056 9.42871 13.4868 11.3475 13.4868 13.7144C13.4868 16.0814 15.4056 18.0001 17.7725 18.0001Z" stroke="white" stroke-width="2"></path>
      <path d="M22.058 19.7144H22.3597C22.9864 19.7145 23.5914 19.9435 24.0611 20.3583C24.5308 20.7731 24.8329 21.3451 24.9106 21.9669L25.2457 24.6446C25.2759 24.8859 25.2544 25.1307 25.1826 25.363C25.1109 25.5953 24.9906 25.8097 24.8297 25.9919C24.6688 26.1741 24.471 26.32 24.2494 26.42C24.0277 26.5199 23.7874 26.5716 23.5443 26.5715H12.0003C11.7572 26.5716 11.5169 26.5199 11.2953 26.42C11.0736 26.32 10.8758 26.1741 10.7149 25.9919C10.554 25.8097 10.4337 25.5953 10.362 25.363C10.2902 25.1307 10.2687 24.8859 10.2989 24.6446L10.6332 21.9669C10.7109 21.3448 11.0132 20.7726 11.4833 20.3577C11.9534 19.9429 12.5588 19.7141 13.1857 19.7144H13.4866" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      <circle cx="18" cy="18" r="17" stroke="white" stroke-width="2"></circle>
      </svg>
      </div>
     </div>  
  </div>
</div>
<div class="overlay-menu" ></div>        
<div id="VW_Sidenav" class="sidenav">
  <div class="d-flex w-75 mb-5 pb-4 m-auto">
          <span class="close_btns" onclick="closeNav()"> &times; </span> 

      <a class="navbar-brand" href="/"><img src="{{ section.settings.image | image_url: width: 100, height: 100 }}" alt="logo" class="ms-5 w-auto"></a>
  </div>
      <div class="m-auto vw_ul w-75">
            {% for link in linklists.main-menu.links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <a href="{{ link.url }}">{{ link.title }}</a>
          [{% for childlink in linklists[child_list_handle].links %}
            <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
          {% endfor %}]
        {% else %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}
      </div>

  <div class="footer_sidenav m-auto w-75">
     <div class="d-flex ftr justify-content-between position-absolute w-75">
        <a href="#"><button>Account</button></a>
        <a href="#"><button class="contact">Contact</button></a>
     </div>    
  </div>
  
   
</div

<!-- CSS -->
<style>
  .header_nav {
    position: absolute;
    width: 100%;
    display: flex;
    z-index: 9;
}
  .nav-link {
    color: #fff !important;
    font-family: 'Sharp Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  }
  .navbar {
    transition: background-color 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  .navbar.navbar-scrolled {
    background-color: rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #017149;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
  .footer_sidenav .ftr {
    bottom: 10%;
}
.overlay-menu {
    position: fixed;
    top: 0;
    width: 0;
    height: 101%;
    background-color: #000000e6;
    z-index: 110;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    width: 0%;
    right: 0;
}
  .footer_sidenav .ftr button {
    font-family: 'Sharp Grotesk';
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 50px;
    background-color: transparent;
    color: #fff;
}
  .footer_sidenav .ftr button.contact {
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
}
  button.contact {
    float: right;
}
.open_menu  .overlay-menu {
  width: 100%;
}
svg#vw_tgm {
    cursor: pointer;
}
.sidenav .vw_ul a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 32px;
    color: #fff;
    font-family: 'Sharp Grotesk';
    display: block;
    transition: 0.3s;
    z-index: 99;
    border-bottom: 1px solid #ffffff45;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav span.close_btns {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
@media (min-width: 320px) and (max-width: 480px) {
   body.open_menu div#VW_Sidenav {
    width: 100% !important;
}
  .footer_sidenav .ftr button {   
    padding: 10px 24px;
    font-size: 14px !important;
}
  .sidenav .vw_ul a {  
    font-size: 22px;   
}
  }
</style>

<!-- JavaScript -->
<script>
  $(document).ready(function() {
    $(window).scroll(function() {
      if ($(window).scrollTop() > 50) {
        $('.navbar').addClass('navbar-scrolled');
      } else {
        $('.navbar').removeClass('navbar-scrolled');
      }
    });
  });
  function openNav() {
  document.getElementById("VW_Sidenav").style.opacity = "1";
  document.getElementById("VW_Sidenav").style.width = "50%";
  document.body.classList.add("open_menu");
 }

  function closeNav() {
    document.getElementById("VW_Sidenav").style.opacity = "0";
    document.getElementById("VW_Sidenav").style.width = "0";
    document.body.classList.remove("open_menu");
  }
</script>


{% schema %}
{
  "name": "Header",
  "class": "section",
  "tag": "header",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Logo Image"
    }
  ]
}
{% endschema %}



{% comment %}
{% for link in linklists.main-menu.links %}
{% assign child_list_handle = link.title | handleize %}
{% if linklists[child_list_handle].links != blank %}
<a href="{{ link.url }}">{{ link.title }}</a>
[{% for childlink in linklists[child_list_handle].links %}
<a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
{% endfor %}]
{% else %}
<a href="{{ link.url }}">{{ link.title }}</a>
{% endif %}
{% endfor %}

<a href="/cart">cart</a>

{% if shop.customer_accounts_enabled %}
{% if customer %}
<a href="/account">account</a>
{{ 'log out' | customer_logout_link }}
{% else %}
{{ 'log in ' | customer_login_link }}
{{ 'register' | customer_register_link }}
{% endif %}
{% endif %}
{% endcomment %}