<nav class="navbar navbar-expand-lg navbar-dark bg-transparent px-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{{section.settings.image | img_url}}" alt="logo"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        {% for link in linklists.main-menu.links %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <span class="navbar-text">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/cart">
              <svg
                class="icon"
                xmlns="http://www.w3.org/2000/svg"
                width="36"
                height="36"
                fill="#fff"
                viewBox="0 0 20 20"><path d="M18.936 5.564c-.144-.175-.35-.207-.55-.207h-.003L6.774 4.286c-.272 0-.417.089-.491.18-.079.096-.16.263-.094.585l2.016 5.705c.163.407.642.673 1.068.673h8.401c.433 0 .854-.285.941-.725l.484-4.571c.045-.221-.015-.388-.163-.567z" /><path d="M17.107 12.5H7.659L4.98 4.117l-.362-1.059c-.138-.401-.292-.559-.695-.559H.924c-.411 0-.748.303-.748.714s.337.714.748.714h2.413l3.002 9.48c.126.38.295.52.942.52h9.825c.411 0 .748-.303.748-.714s-.336-.714-.748-.714zm-6.683 3.73a1.498 1.498 0 1 1-2.997 0 1.498 1.498 0 0 1 2.997 0zm6.429 0a1.498 1.498 0 1 1-2.997 0 1.498 1.498 0 0 1 2.997 0z" /></svg>
            </a>
          </li>
          {% if shop.customer_accounts_enabled %}
            <li class="nav-item">
              {% if customer %}
                <a class="nav-link" href="{{routes.account_logout_url}}">
                  <svg
                    width="36"
                    height="36"
                    viewBox="0 0 36 36"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M17.7725 18.0001C20.1395 18.0001 22.0582 16.0814 22.0582 13.7144C22.0582 11.3475 20.1395 9.42871 17.7725 9.42871C15.4056 9.42871 13.4868 11.3475 13.4868 13.7144C13.4868 16.0814 15.4056 18.0001 17.7725 18.0001Z"
                      stroke="white"
                      stroke-width="2" />
                    <path
                      d="M22.058 19.7144H22.3597C22.9864 19.7145 23.5914 19.9435 24.0611 20.3583C24.5308 20.7731 24.8329 21.3451 24.9106 21.9669L25.2457 24.6446C25.2759 24.8859 25.2544 25.1307 25.1826 25.363C25.1109 25.5953 24.9906 25.8097 24.8297 25.9919C24.6688 26.1741 24.471 26.32 24.2494 26.42C24.0277 26.5199 23.7874 26.5716 23.5443 26.5715H12.0003C11.7572 26.5716 11.5169 26.5199 11.2953 26.42C11.0736 26.32 10.8758 26.1741 10.7149 25.9919C10.554 25.8097 10.4337 25.5953 10.362 25.363C10.2902 25.1307 10.2687 24.8859 10.2989 24.6446L10.6332 21.9669C10.7109 21.3448 11.0132 20.7726 11.4833 20.3577C11.9534 19.9429 12.5588 19.7141 13.1857 19.7144H13.4866"
                      stroke="white"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
                    <circle
                      cx="18"
                      cy="18"
                      r="17"
                      stroke="white"
                      stroke-width="2" />
                  </svg>
                </a>
              {% else %}
                <a class="nav-link" href="{{routes.account_login_url}}">
                  <svg
                    width="36"
                    height="36"
                    viewBox="0 0 36 36"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M17.7725 18.0001C20.1395 18.0001 22.0582 16.0814 22.0582 13.7144C22.0582 11.3475 20.1395 9.42871 17.7725 9.42871C15.4056 9.42871 13.4868 11.3475 13.4868 13.7144C13.4868 16.0814 15.4056 18.0001 17.7725 18.0001Z"
                      stroke="white"
                      stroke-width="2" />
                    <path
                      d="M22.058 19.7144H22.3597C22.9864 19.7145 23.5914 19.9435 24.0611 20.3583C24.5308 20.7731 24.8329 21.3451 24.9106 21.9669L25.2457 24.6446C25.2759 24.8859 25.2544 25.1307 25.1826 25.363C25.1109 25.5953 24.9906 25.8097 24.8297 25.9919C24.6688 26.1741 24.471 26.32 24.2494 26.42C24.0277 26.5199 23.7874 26.5716 23.5443 26.5715H12.0003C11.7572 26.5716 11.5169 26.5199 11.2953 26.42C11.0736 26.32 10.8758 26.1741 10.7149 25.9919C10.554 25.8097 10.4337 25.5953 10.362 25.363C10.2902 25.1307 10.2687 24.8859 10.2989 24.6446L10.6332 21.9669C10.7109 21.3448 11.0132 20.7726 11.4833 20.3577C11.9534 19.9429 12.5588 19.7141 13.1857 19.7144H13.4866"
                      stroke="white"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
                    <circle
                      cx="18"
                      cy="18"
                      r="17"
                      stroke="white"
                      stroke-width="2" />
                  </svg>
                </a>
              {% endif %}
            </li>
          {% endif %}
        </ul>
      </span>
    </div>
  </div>
</nav>


<!-- CSS -->
<style>
  .nav-link {
    color: #fff !important;
    font-family: 'Sharp Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  }
  .navbar {
    transition: background-color 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  .navbar.navbar-scrolled {
    background-color: rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
</style>

<!-- JavaScript -->
<script>
  $(document).ready(function() {
    $(window).scroll(function() {
      if ($(window).scrollTop() > 50) {
        $('.navbar').addClass('navbar-scrolled');
      } else {
        $('.navbar').removeClass('navbar-scrolled');
      }
    });
  });
</script>


{% schema %}
  {
    "name": "Header",
    "class": "section",
    "tag": "header",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Logo Image"
      }

    ]
  }
{% endschema %}



{% comment %}
{% for link in linklists.main-menu.links %}
{% assign child_list_handle = link.title | handleize %}
{% if linklists[child_list_handle].links != blank %}
<a href="{{ link.url }}">{{ link.title }}</a>
[{% for childlink in linklists[child_list_handle].links %}
<a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
{% endfor %}]
{% else %}
<a href="{{ link.url }}">{{ link.title }}</a>
{% endif %}
{% endfor %}

<a href="/cart">cart</a>

{% if shop.customer_accounts_enabled %}
{% if customer %}
<a href="/account">account</a>
{{ 'log out' | customer_logout_link }}
{% else %}
{{ 'log in ' | customer_login_link }}
{{ 'register' | customer_register_link }}
{% endif %}
{% endif %}
{% endcomment %}