{{ 'image_with_text_section.css' | asset_url | stylesheet_tag }}

<div class="wrapper--{{ section.id }} fluid-container p-5 pb-0">
  <div class="row g-0">
    <div class="col-12 main-heading-wrapper my-4">
      <h2 class="fs-2 iwt__main-heading iiwt__section-main-heading heading-{{ section.id }}">{{ section.settings.heading }}</h2>
    </div>
  </div>
  <div class="row  g-0">
    <div class="d-flex page-width flex-column-reverse flex-md-row justify-content-center">
      <div class="iwt__content-wrapper col-12 col-md-5 p-3 mb-5">
        <div class="mb-2 d-flex">
          <div class="me-2">
            <svg
              width="20"
              height="13"
              viewBox="0 0 20 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.522 0.802646C9.83086 0.897324 9.09427 1.15506 8.68742 1.44455C8.60292 1.50468 8.52211 1.55387 8.50782 1.55387C8.47505 1.55387 8.08833 1.87123 7.9461 2.0149C7.85782 2.10403 7.70398 2.27609 7.48336 2.53244C7.3573 2.67893 7.0663 3.19135 6.95752 3.45847C6.86818 3.67789 6.72371 4.12783 6.72371 4.18673C6.72371 4.2105 6.70086 4.28695 6.67293 4.3566L6.62218 4.48321L6.27986 4.30885C6.09159 4.21295 5.9137 4.1345 5.88455 4.1345C5.85539 4.1345 5.8177 4.12092 5.80083 4.10431C5.74103 4.04547 5.07409 3.93444 4.8853 3.95185C4.6129 3.97702 4.25732 4.05399 4.13723 4.11376C4.07869 4.14292 4.0175 4.16676 4.0013 4.16676C3.92188 4.16676 3.44592 4.53199 3.2605 4.73518C2.7963 5.24402 2.57452 5.7913 2.53831 6.51743C2.53334 6.6173 2.52749 6.70788 2.52532 6.71872C2.52319 6.72956 2.40142 6.77052 2.25472 6.80975C2.10807 6.84898 1.9444 6.90056 1.89107 6.92436C1.83773 6.94817 1.7075 7.00575 1.60163 7.05229C1.49579 7.09884 1.33068 7.19082 1.23473 7.25668C1.13876 7.32255 1.02859 7.3982 0.989933 7.42482C0.785829 7.5652 0.497583 7.85803 0.337637 8.08752C0.235262 8.23439 0.0779991 8.58452 0.0348124 8.76174C-0.111977 9.36397 0.209822 10.0162 0.917393 10.5506C1.1705 10.7417 1.7007 11.0067 1.98805 11.0855C2.09471 11.1148 2.21836 11.1524 2.26281 11.1691C2.30726 11.1858 2.44545 11.2225 2.5699 11.2506C2.77714 11.2973 2.95638 11.332 3.70129 11.47C4.04459 11.5336 4.19202 11.5647 4.55791 11.6506C4.72681 11.6902 4.95229 11.743 5.05896 11.7678C5.16563 11.7927 5.27473 11.8188 5.3014 11.8259C5.51901 11.8837 5.66561 11.9072 5.81266 11.9079C5.90714 11.9083 6.01178 11.9233 6.04514 11.9411C6.11015 11.9758 6.83999 12.071 7.16011 12.0865C7.26678 12.0917 7.55771 12.1123 7.80662 12.1323C8.57739 12.1943 9.694 12.2225 10.9745 12.2121C12.0612 12.2033 13.2144 12.1604 13.4474 12.1201C13.4918 12.1124 13.601 12.0982 13.6898 12.0886C13.847 12.0715 14.1105 12.0281 14.6758 11.9262C14.8269 11.899 15.016 11.8563 15.096 11.8315C15.176 11.8065 15.3189 11.77 15.4134 11.7505C15.7511 11.6805 16.3671 11.4538 16.7868 11.2451C17.3136 10.9831 17.3761 10.9454 17.6982 10.6956C18.3779 10.1685 18.8531 9.45916 19.0102 8.73748C19.0914 8.36404 19.0344 7.68191 18.8986 7.40394C18.8739 7.35333 18.8269 7.25384 18.7942 7.18287C18.6517 6.87365 18.3219 6.47268 17.9809 6.19379C17.7128 5.97456 17.1726 5.67856 16.8092 5.55179C16.6937 5.51144 16.5846 5.46792 16.5668 5.45504C16.549 5.44214 16.3163 5.37823 16.0496 5.31302C15.303 5.13041 15.3652 5.16244 15.3404 4.94769C15.2356 4.04376 15.0622 3.47915 14.7067 2.8848C14.2162 2.0649 13.4331 1.40555 12.5742 1.0891C12.441 1.04006 12.3104 0.991742 12.2837 0.98171C12.1819 0.943452 11.7898 0.859356 11.4917 0.811872C11.3024 0.781711 10.7154 0.77613 10.522 0.802646Z"
                fill="#017149" />
            </svg>
          </div>
          <div class="text-{{ section.id }}">
            {{ section.settings.line1text }}
          </div>
        </div>
        <div class="mb-2 d-flex">
          <div class="me-2">
            <svg
              width="20"
              height="13"
              viewBox="0 0 20 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.522 0.802646C9.83086 0.897324 9.09427 1.15506 8.68742 1.44455C8.60292 1.50468 8.52211 1.55387 8.50782 1.55387C8.47505 1.55387 8.08833 1.87123 7.9461 2.0149C7.85782 2.10403 7.70398 2.27609 7.48336 2.53244C7.3573 2.67893 7.0663 3.19135 6.95752 3.45847C6.86818 3.67789 6.72371 4.12783 6.72371 4.18673C6.72371 4.2105 6.70086 4.28695 6.67293 4.3566L6.62218 4.48321L6.27986 4.30885C6.09159 4.21295 5.9137 4.1345 5.88455 4.1345C5.85539 4.1345 5.8177 4.12092 5.80083 4.10431C5.74103 4.04547 5.07409 3.93444 4.8853 3.95185C4.6129 3.97702 4.25732 4.05399 4.13723 4.11376C4.07869 4.14292 4.0175 4.16676 4.0013 4.16676C3.92188 4.16676 3.44592 4.53199 3.2605 4.73518C2.7963 5.24402 2.57452 5.7913 2.53831 6.51743C2.53334 6.6173 2.52749 6.70788 2.52532 6.71872C2.52319 6.72956 2.40142 6.77052 2.25472 6.80975C2.10807 6.84898 1.9444 6.90056 1.89107 6.92436C1.83773 6.94817 1.7075 7.00575 1.60163 7.05229C1.49579 7.09884 1.33068 7.19082 1.23473 7.25668C1.13876 7.32255 1.02859 7.3982 0.989933 7.42482C0.785829 7.5652 0.497583 7.85803 0.337637 8.08752C0.235262 8.23439 0.0779991 8.58452 0.0348124 8.76174C-0.111977 9.36397 0.209822 10.0162 0.917393 10.5506C1.1705 10.7417 1.7007 11.0067 1.98805 11.0855C2.09471 11.1148 2.21836 11.1524 2.26281 11.1691C2.30726 11.1858 2.44545 11.2225 2.5699 11.2506C2.77714 11.2973 2.95638 11.332 3.70129 11.47C4.04459 11.5336 4.19202 11.5647 4.55791 11.6506C4.72681 11.6902 4.95229 11.743 5.05896 11.7678C5.16563 11.7927 5.27473 11.8188 5.3014 11.8259C5.51901 11.8837 5.66561 11.9072 5.81266 11.9079C5.90714 11.9083 6.01178 11.9233 6.04514 11.9411C6.11015 11.9758 6.83999 12.071 7.16011 12.0865C7.26678 12.0917 7.55771 12.1123 7.80662 12.1323C8.57739 12.1943 9.694 12.2225 10.9745 12.2121C12.0612 12.2033 13.2144 12.1604 13.4474 12.1201C13.4918 12.1124 13.601 12.0982 13.6898 12.0886C13.847 12.0715 14.1105 12.0281 14.6758 11.9262C14.8269 11.899 15.016 11.8563 15.096 11.8315C15.176 11.8065 15.3189 11.77 15.4134 11.7505C15.7511 11.6805 16.3671 11.4538 16.7868 11.2451C17.3136 10.9831 17.3761 10.9454 17.6982 10.6956C18.3779 10.1685 18.8531 9.45916 19.0102 8.73748C19.0914 8.36404 19.0344 7.68191 18.8986 7.40394C18.8739 7.35333 18.8269 7.25384 18.7942 7.18287C18.6517 6.87365 18.3219 6.47268 17.9809 6.19379C17.7128 5.97456 17.1726 5.67856 16.8092 5.55179C16.6937 5.51144 16.5846 5.46792 16.5668 5.45504C16.549 5.44214 16.3163 5.37823 16.0496 5.31302C15.303 5.13041 15.3652 5.16244 15.3404 4.94769C15.2356 4.04376 15.0622 3.47915 14.7067 2.8848C14.2162 2.0649 13.4331 1.40555 12.5742 1.0891C12.441 1.04006 12.3104 0.991742 12.2837 0.98171C12.1819 0.943452 11.7898 0.859356 11.4917 0.811872C11.3024 0.781711 10.7154 0.77613 10.522 0.802646Z"
                fill="#017149" />
            </svg>
          </div>
          <div class="text-{{ section.id }}">
            {{ section.settings.line2text }}
          </div>
        </div>
        <div class="mb-2 d-flex">
          <div class="me-2">
            <svg
              width="20"
              height="13"
              viewBox="0 0 20 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.522 0.802646C9.83086 0.897324 9.09427 1.15506 8.68742 1.44455C8.60292 1.50468 8.52211 1.55387 8.50782 1.55387C8.47505 1.55387 8.08833 1.87123 7.9461 2.0149C7.85782 2.10403 7.70398 2.27609 7.48336 2.53244C7.3573 2.67893 7.0663 3.19135 6.95752 3.45847C6.86818 3.67789 6.72371 4.12783 6.72371 4.18673C6.72371 4.2105 6.70086 4.28695 6.67293 4.3566L6.62218 4.48321L6.27986 4.30885C6.09159 4.21295 5.9137 4.1345 5.88455 4.1345C5.85539 4.1345 5.8177 4.12092 5.80083 4.10431C5.74103 4.04547 5.07409 3.93444 4.8853 3.95185C4.6129 3.97702 4.25732 4.05399 4.13723 4.11376C4.07869 4.14292 4.0175 4.16676 4.0013 4.16676C3.92188 4.16676 3.44592 4.53199 3.2605 4.73518C2.7963 5.24402 2.57452 5.7913 2.53831 6.51743C2.53334 6.6173 2.52749 6.70788 2.52532 6.71872C2.52319 6.72956 2.40142 6.77052 2.25472 6.80975C2.10807 6.84898 1.9444 6.90056 1.89107 6.92436C1.83773 6.94817 1.7075 7.00575 1.60163 7.05229C1.49579 7.09884 1.33068 7.19082 1.23473 7.25668C1.13876 7.32255 1.02859 7.3982 0.989933 7.42482C0.785829 7.5652 0.497583 7.85803 0.337637 8.08752C0.235262 8.23439 0.0779991 8.58452 0.0348124 8.76174C-0.111977 9.36397 0.209822 10.0162 0.917393 10.5506C1.1705 10.7417 1.7007 11.0067 1.98805 11.0855C2.09471 11.1148 2.21836 11.1524 2.26281 11.1691C2.30726 11.1858 2.44545 11.2225 2.5699 11.2506C2.77714 11.2973 2.95638 11.332 3.70129 11.47C4.04459 11.5336 4.19202 11.5647 4.55791 11.6506C4.72681 11.6902 4.95229 11.743 5.05896 11.7678C5.16563 11.7927 5.27473 11.8188 5.3014 11.8259C5.51901 11.8837 5.66561 11.9072 5.81266 11.9079C5.90714 11.9083 6.01178 11.9233 6.04514 11.9411C6.11015 11.9758 6.83999 12.071 7.16011 12.0865C7.26678 12.0917 7.55771 12.1123 7.80662 12.1323C8.57739 12.1943 9.694 12.2225 10.9745 12.2121C12.0612 12.2033 13.2144 12.1604 13.4474 12.1201C13.4918 12.1124 13.601 12.0982 13.6898 12.0886C13.847 12.0715 14.1105 12.0281 14.6758 11.9262C14.8269 11.899 15.016 11.8563 15.096 11.8315C15.176 11.8065 15.3189 11.77 15.4134 11.7505C15.7511 11.6805 16.3671 11.4538 16.7868 11.2451C17.3136 10.9831 17.3761 10.9454 17.6982 10.6956C18.3779 10.1685 18.8531 9.45916 19.0102 8.73748C19.0914 8.36404 19.0344 7.68191 18.8986 7.40394C18.8739 7.35333 18.8269 7.25384 18.7942 7.18287C18.6517 6.87365 18.3219 6.47268 17.9809 6.19379C17.7128 5.97456 17.1726 5.67856 16.8092 5.55179C16.6937 5.51144 16.5846 5.46792 16.5668 5.45504C16.549 5.44214 16.3163 5.37823 16.0496 5.31302C15.303 5.13041 15.3652 5.16244 15.3404 4.94769C15.2356 4.04376 15.0622 3.47915 14.7067 2.8848C14.2162 2.0649 13.4331 1.40555 12.5742 1.0891C12.441 1.04006 12.3104 0.991742 12.2837 0.98171C12.1819 0.943452 11.7898 0.859356 11.4917 0.811872C11.3024 0.781711 10.7154 0.77613 10.522 0.802646Z"
                fill="#017149" />
            </svg>
          </div>
          <div class="text-{{ section.id }}">
            {{ section.settings.line3text }}
          </div>
        </div>

        <div class="mt-4 mb-4 mx-4">
          {% render 'image', class: 'section-logs-img', mobileSrc: section.settings.image_logo, desktopSrc: section.settings.image_logo %}
        </div>
      </div>
      <div class="col-12 p-3 col-md-5">
        {% render 'image', class: 'media media--landscape section-main-image', mobileSrc: section.settings.main_image, desktopSrc: section.settings.main_image %}
      </div>
    </div>
  </div>
</div>

{% style %}
  .wrapper--{{ section.id }}{
    background-color: {{ section.settings.bg_color }}
    ;
  }
  .heading-{{ section.id }}{
    color: {{ section.settings.heading_color }}
    ;
    font-family: Sharp Grotesk;

  }
  .text-{{ section.id }}{
    color: {{ section.settings.text_color }}
    ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
  }
{% endstyle %}



{% schema %}
{
  "name": "Image with Text",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#DAE7D4"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Main Heading",
      "default": "Heading"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#017149"
    },
    {
      "type": "text",
      "id": "line1text",
      "label": "Line 1 text",
      "default": "Line 1 text"
    },
    {
      "type": "text",
      "id": "line2text",
      "label": "Line 2 text",
      "default": "Line 2 text"
    },
    {
      "type": "text",
      "id": "line3text",
      "label": "Line 3 text",
      "default": "Line 3 text"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#2C2B2B"
    },
    {
      "type": "image_picker",
      "id": "image_logo",
      "label": "Logos Image"
    },
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Main Image"
    }
  ],
  "presets": [
    {
      "name": "Image with Text"
    }
  ]
}
{% endschema %}