{% if section.blocks.size > 0 %}
  <div class="fluid-container logo-section__wrapper--{{ section.id }}">
    <div class="row g-0">
      <div class="col-12 page-width logo-section__item d-flex justify-content-between align-content-center m-auto p-5">
        {% for block in section.blocks %}
          <div class="col px-3 lwt-{{block.id}} text-center">
            {% render 'image', class: 'p-2', mobileSrc: block.settings.image, desktopSrc: block.settings.image %}
            {% if block.settings.text != blank %}
              <div class="mt-2">{{ block.settings.text }}</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

{% style %}
  {% for block in section.blocks %}
    {% if block.settings.border %}
      .lwt-{{ block.id}}{
        border-right: 1.5px solid #258D68;
      }
    {% endif %}
  {% endfor %}
{% endstyle %}
<style>
  .logo-section__item {
    overflow: auto;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .logo-section__item::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .logo-section__item {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .logo-section__wrapper--{{ section.id }}{
    background-color: {{ section.settings.bg_color }}
    ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135.5%;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
</style>

{% schema %}
  {
    "name": "Logo with Text",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#282828"
      }
    ],
    "blocks": [
      {
        "name": "Logo Block",
        "type": "logo-block",
        "limit": 6,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "label": "Text",
            "default": "Text",
            "id": "text"
          }, {
            "type": "checkbox",
            "label": "border right",
            "default": true,
            "id": "border"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo with Text"
      }
    ]
  }
{% endschema %}