{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign product_form_id = 'product-form-' | append: section.id -%}

<script src="{{ 'marmeto-product.js' | asset_url }}" defer="defer"></script>
{{ 'marmeto-product.css' | asset_url | stylesheet_tag }}

  <div class="product main-product-section product-flex">
    <div class="product-flexitem product-flexitem-images">
      <div
        class="product__media-list"
      >
        {%- for media in product.media -%}
          <div class="product__media-item pb-0">
            {% render 'product-media', media: media, class: 'media media--portrait' %}
          </div>
        {%- endfor -%}
      </div>
      <div
        class="image__viewer d-md-none px-4"
        data-flickity='{ "cellAlign": "left", "contain": true, "pageDots": false,"asNavFor": ".product__media-list", "prevNextButtons": true, "imagesLoaded": true,"groupCells": true }'
      >
        {%- for media in product.media -%}
          <div
            style="
              height: 93px;
              width: 94px;
              margin-right:10px;
            "
          >
            {% render 'product-media', media: media, class: 'media media--portrait' %}
          </div>
        {%- endfor -%}
      </div>
    </div>
     
     <div class="product-flexitem product-flexitem-info">
       <div id="product-info-{{ section.id }}" class="product-info">
         {%- for block in section.blocks -%}
           {%- case block.type -%}
           {%- when 'text' -%}
             <div class="product__text" {{ block.shopify_attributes }}>
               {{- block.settings.text -}}
             </div>
           {%- when 'title' -%}
             <h1 class="product__title fs-1" {{ block.shopify_attributes }}>
               {{ product.title | escape }}
             </h1>
             {%- when 'caption' -%}
              <div class="product__caption" {{ block.shopify_attributes }}>
                {{ product.metafields.descriptors.subtitle }}
              </div>
              {%- when 'product_info' -%}
                <div class="product__info" {{ block.shopify_attributes }}>
                  {{ product.metafields.custom.product_info }}
                </div>
                {%- when 'reviews-block' -%}
                  <div class="product__reviews-block" {{ block.shopify_attributes }}>
                    <div class="d-flex justify-content-between">
                    <div>
                      <span class="me-1">{{ block.settings.reviews-svg }}</span>
                      <span>{{ block.settings.reviews-count }}</span>
                    </div>
                    <div>
                      <span class="me-1">{{ block.settings.video-svg }}</span><span><a href="{{ block.settings.video-link }}">{{ block.settings.video-text }}</a></span>
                    </div>
                    </div>
                  </div>

           {%- when 'price' -%}
             <div id="price-{{ section.id }}" class="product__prices" {{ block.shopify_attributes }}>
               <span class="price__regular fs-5 {% if current_variant.compare_at_price > current_variant.price %}on-sale{% endif %}">{{ current_variant.price | money_with_currency }}</span>
               
               {%- if current_variant.compare_at_price > current_variant.price -%}
                 <span class="price__compare">{{ current_variant.compare_at_price | money_with_currency }}</span>
                 <span class="price__discount">{{ current_variant.compare_at_price | minus: current_variant.price | times: 100 | divided_by: current_variant.compare_at_price }}% Off</span>
               {%- endif -%}
             </div>     	  
           {%- when 'quantity_selector' -%}
             <div class="product__quantity" {{ block.shopify_attributes }}>
               {% comment %}
                <label class="quantity__label" for="Quantity-{{ section.id }}">
                 Quantity
               </label>
               {% endcomment %}
               
         <marmeto-quantity-input class="quantity__flex">
                 <button class="quantity__button" name="minus" type="button">-</button>
                 <input class="quantity__input"
                     type="number"
                     name="quantity"
                     id="Quantity-{{ section.id }}"
                     min="1"
                     value="1"
                     form="{{ product_form_id }}"
                   >
                 <button class="quantity__button" name="plus" type="button">+</button>
               </marmeto-quantity-input>
             </div>
           {%- when 'variant_picker' -%}
             {%- unless product.has_only_default_variant -%}
               <marmeto-variant-radios class="product__variants" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                 {%- for option in product.options_with_values -%}
                   <div class="product__variant">
                     <label class="product__variant--label">{{ option.name | upcase }}</label>
                     <br>
                     {%- for value in option.values -%}
                       <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                              name="{{ option.name }}"
                              value="{{ value | escape }}"
                              form="{{ product_form_id }}"
                              {% if option.selected_value == value %}checked{% endif %}
                              >
                       <label class="product__options-swatches" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                         {{ value }}
                       </label>
                     {%- endfor -%}
                   </div>
                 {%- endfor -%}
                 
                 <script type="application/json">
                   {{ product.variants | json }}
                 </script>
               </marmeto-variant-radios>
             {%- endunless -%}
           {%- when 'buy_buttons' -%}
             <div {{ block.shopify_attributes }}>
               <marmeto-product-form class="product__form">
                 <div class="product__form-error" role="alert" hidden>                
                   <span class="product__form-error-message"></span>
                 </div>
   
                 {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                   <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
   
                   <div class="product__form-buttons">
                     <button type="submit" name="add" class="product__form-button"
                     {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                     >
                       <span>
                         {%- if product.selected_or_first_available_variant.available -%}
                           ADD TO CART
                         {%- else -%}
                           SOLD OUT
                         {%- endif -%}
                       </span>
                     </button>
                      {%- if block.settings.show_dynamic_checkout -%}
                       {{ form | payment_button }}
                     {%- endif -%}
                   </div>
                 {%- endform -%}
               </marmeto-product-form>
             </div>
           {%- when 'description' -%}
               <div class="product__description">
                 {{ product.metafields.my_fields.product_desc }}
               </div>
           {%- when 'collapsible_tab' -%}
             <div class="product__tab" {{ block.shopify_attributes }}>
               <details id="Tabs-{{ block.id }}-{{ section.id }}">
                 <summary>
                   <div class="product__tab-summary">
                     <div class="product__tab-title">
                      {% if block.settings.tab-icon != blank %}
                      <span> {{ block.settings.tab-icon }} </span>
                      {% endif %}
                       {{ block.settings.heading | default: block.settings.page.title }}
                     </div>
                     <div class="product__tab-icon">
                       <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
                         <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
                       </svg>
                     </div>
                   </div>
                 </summary>
                 <div class="product__tab-content" id="ProductTab-{{ block.id }}-{{ section.id }}">
                   {{ block.settings.content }}
                   {{ block.settings.page.content }}
                 </div>
               </details>
             </div>
           {%- endcase -%}
         {%- endfor -%}
       </div>
     </div>
   </div>


<style>
  @media(max-width:767px){
   .main-product-section .flickity-page-dots{
    display: none;
    }
  }
  .product__reviews-block{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11.4729px;
line-height: 18px;
letter-spacing: -0.02em;
color: #181818;
  }
  .product__reviews-block span a{
text-decoration: none;
color: #181818;
  }
  @media (min-width:767px){
    .product__reviews-block{
      font-size: 15px;
    }
  }
  .header_nav{
  position:static;
  background-color: #017149;
}
.product__description ul li b{
  font-weight: 500;
color: #181818;
}

.product__caption{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
color: #181818;
margin-bottom: 10px;

}
.product__info{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #5E5E5E;
margin-bottom: 20px;

}
.product__options-swatches{
  border-radius: 0 !important;
}
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
.product__tab-title{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #5E5E5E;
}
</style>


{% schema %}
{
  "name": "Product Information",
  "tag": "section",
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "Text"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "caption",
      "name": "Caption",
      "limit": 1
    },
    {
      "type": "product_info",
      "name": "Product Info",
      "limit": 1
    },
    {
      "type": "reviews-block",
      "name": "Reviews Block",
      "limit": 1,
      "settings": [
        {
          "type": "liquid",
          "id": "reviews-svg",
          "label": "Reviews SVG"
        },
        {
          "type": "text",
          "id": "reviews-count",
          "label": "Reviews Count"
        },
        {
          "type": "liquid",
          "id": "video-svg",
          "label": "Video SVG"
        },
        {
          "type": "text",
          "id": "video-text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "video-link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "Quantity selector",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "Show dynamic checkout buttons",
          "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "collapsible_tab",
      "name": "Collapsible tab",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "Include a heading that explains the content.",
          "label": "Heading"
        },
        {
          "type": "liquid",
          "id": "tab-icon",
          "label": "SVG Icon",
          "info": "Paste your SVG Icon"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Tab content"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Tab content from page"
        }
      ]
    }
  ]
}
{% endschema %}