<div class="fluid-container">
  <div class="moneyback-section d-flex flex-column flex-md-row">
    <div class="col-12 col-md-7 first-col--{{ section.id }} p-0">
      <div class="d-none d-lg-block moneyback-section__image w-100">
        {% render 'image', class: 'moneyback--image', mobileSrc: section.settings.bg_image, desktopSrc: section.settings.bg_image %}
        <div class="moneyback-content">
          <div class="w-100">
            <div class="h2 moneyback-content-heading">
              <span>{{ section.settings.caption }}</span>
              <br/>{{ section.settings.heading }}</div>
            <p class="moneyback-content-subheading">{{ section.settings.subheading }}</p>
          </div>
        </div>
      </div>
      <div class="d-block d-lg-none moneyback-section__image w-100">
        {% render 'image', class: 'moneyback--mobile_image', mobileSrc: section.settings.mobile_bg_image, desktopSrc: section.settings.mobile_bg_image %}
        <div class="moneyback-mobile-content">
          <div class="w-100">
            <div class="h2 moneyback-content-heading">
              <span>{{ section.settings.caption }}</span>
              <br/>{{ section.settings.heading }}</div>
            <p class="moneyback-content-subheading">{{ section.settings.subheading }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-5 p-0">
      <div class="moneyback-section__wrapper moneyback-{{ section.id }} second-col--{{ section.id }}">
        <div class="d-flex justify-content-center align-items-center h-100">
          {% render 'image', class: '', mobileSrc: section.settings.image2, desktopSrc: section.settings.image2 %}
        </div>
      </div>

    </div>
  </div>
</div>

{% style %}
  .first-col--{{ section.id }}{
    color: #FFFFFF;
  }
  .second-col--{{ section.id }}{
    background-color: {{ section.settings.bg_color }}
    ;
  }
  .moneyback-content-heading {
    font-family: 'Sharp Grotesk';
    font-style: normal;
    font-weight: 500;
    line-height: 125.5%;
  }
  .moneyback-content-subheading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 137.02%;
  }
{% endstyle %}



<style>
  .moneyback-section__wrapper {
    height: 600px;
  }
  .moneyback-section__image {
    position: relative;
  }
  .moneyback-mobile-content {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 80%;
  }
  .moneyback--mobile_image img {
    position: relative;
    width: 100%;
    object-fit: cover;
  }
  @media(min-width:768px) {
    .moneyback-section__wrapper {
      height: 800px;
    }
  }
  @media(min-width:992px) {
    .moneyback-section__wrapper {
      height: 499px;
    }
    .moneyback-section__image {
      position: relative;
    }
    .moneyback-content {
      position: absolute;
      top: 40%;
      left: 55%;
    }
    .moneyback--image img {
      position: relative;
      min-height: 499px !important;
      width: 100%;
    }
  }
</style>



{% schema %}
{
  "name": "Moneyback Section",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Desktop Background Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_bg_image",
      "label": "Mobile Background Image"
    },
    {
      "type": "text",
      "id": "caption",
      "label": "Caption",
      "default": "Caption"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "background color",
      "default": "#000000"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Moneyback Section"
    }
  ]
}
{% endschema %}