{{ 'flickity.js' | asset_url | script_tag }}

{% if section.blocks.size > 0 %}
  <div class="most-loved__wrapper--{{section.id}} fluid-container">
    <div class="row g-0 p-5">
      <div class="col-12 text-center">
        <h2 class="fs-2 most-loved__main-heading">{{ section.settings.heading }}</h2>
      </div>
      <div class="col-12 mt-5 m-auto  page-width main-carousel">
        {% for block in section.blocks %}
          <div class="col-12 col-sm-6 col-md-4 card-position-relative" style="height: 563px;">
            <div class="most-loved-card__wrapper shadow m-3 py-4 bg-light text-center">
              <div class="mb-3">
                <img
                  class="most-loved__image"
                  src="{{block.settings.product_image1 | img_url: 'medium'}}"
                  alt="">
              </div>
              <h2 class="most-loved__title">
                {{ block.settings.product_title1 }}
              </h2>
              <p class="most-loved__caption">{{ block.settings.product_caption1 }}</p>
              <p class="most-loved__price">{{ block.settings.product_id1.price | money_with_currency }}</p>
              <div>
                <a class="btn btn-outline-success px-4 most-loved__button" href="{{ block.settings.product_id1.url }}">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4" style="height: 563px;">
            <div class="most-loved-card__wrapper shadow m-3 py-4 bg-light text-center">
              <div class="mb-4 second-card-large-devices">
                <img
                  class="most-loved__image"
                  src="{{block.settings.product_image2 | img_url: 'medium'}}"
                  alt="">
              </div>
              <h2 class="most-loved__title x-2">
                {{ block.settings.product_title2 }}
              </h2>
              <p class="most-loved__caption">{{ block.settings.product_caption2 }}</p>
              <p class="most-loved__price">{{ block.settings.product_id2.price | money_with_currency }}</p>
              <div>
                <a class="btn btn-outline-success second-card-btn px-4 most-loved__button" href="{{ block.settings.product_id2.url }}">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 card-position-relative" style="height: 563px;">
            <div class="most-loved-card__wrapper shadow m-3 py-4 bg-light text-center">
              <div class="mb-3">
                <img
                  class="most-loved__image"
                  src="{{block.settings.product_image3 | img_url: 'medium'}}"
                  alt="">
              </div>
              <h2 class="most-loved__title">
                {{ block.settings.product_title3 }}
              </h2>
              <p class="most-loved__caption">{{ block.settings.product_caption3 }}</p>
              <p class="most-loved__price">{{ block.settings.product_id3.price | money_with_currency }}</p>
              <div>
                <a class="btn btn-outline-success px-4 most-loved__button" href="{{ block.settings.product_id3.url }}">Shop Now</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

{% style %}
  .most-loved__wrapper--{{ section.id}}{
    background-color: {{ section.settings.bg_color}}
    ;

  }
{% endstyle %}


<style>

  @media(min-width:768px) {
    .second-card-btn {
      color: #fff !important;
      background-color: #017149 !important;
    }
    .second-card-btn:hover {
      color: #181818 !important;
      background-color: #fff !important;
    }
    .second-card-large-devices {
      margin: 40px 0 !important;
    }
    .card-position-relative {
      position: relative;
      top: 30px;
    }
  }
  .flickity-prev-next-button {
    width: 51px;
    height: 51px;
    border: 2px solid #B0B0B0;
  }
  .flickity-prev-next-button.previous {
    left: -40px;
  }
  .flickity-prev-next-button.next {
    right: -40px;
  }
  .most-loved__main-heading {
    font-family: 'Sharp Grotesk';
    font-style: normal;
    font-weight: 500;
    line-height: 51px;
    color: #181818;
  }
  .most-loved__image {
    max-width: 190.9px;
    max-height: 315.4px;
  }
  .most-loved__title {
    font-family: 'Sharp Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 19.3728px;
    line-height: 123.5%;
    color: #181818;
  }
  .most-loved__caption {
    font-family: 'Sharp Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 14.9021px;
    line-height: 148.5%;
    color: #666666;
  }
  .most-loved__price {
    font-family: 'Sharp Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 20.8868px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #181818;
  }

  .most-loved-card__wrapper {
    border-radius: 20px;
    background-color: #fff !important;
    max-width: 372px;
  }
  .most-loved__button {
    border-radius: 30.8044px;
    font-family: 'Sharp Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 17.2504px;
  }
  .most-loved__button:hover {
    background: #017149;
  }
</style>

<script>
  $('.main-carousel').flickity({
    arrowShape: 'M83.999 43.999H21.656l21.172-21.172a4.001 4.001 0 0 0-5.657-5.657l-28 28a4 4 0 0 0-.001 5.656l28 28a3.989 3.989 0 0 0 2.829 1.172 3.999 3.999 0 0 0 2.829-6.828L21.655 51.999h62.344a4 4 0 0 0 0-8z',

// options
    cellAlign: 'left',
    contain: true,
    freeScroll: true,
    groupCells: true,

// disable previous & next buttons and dots
    prevNextButtons: true,
    pageDots: false
  });
</script>

{% schema %}
  {
    "name": "Most Loved Flavors",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "default": "#E5E5E5",
        "label": "Background Color"
      }, {
        "type": "color",
        "id": "card_color",
        "default": "#FFF",
        "label": "Product Card Color"
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Our Most Loved Flavours"
      }
    ],
    "blocks": [
      {
        "name": "Product",
        "type": "product-section",
        "settings": [
          {
            "type": "product",
            "id": "product_id1",
            "label": "Product"
          },
          {
            "type": "image_picker",
            "id": "product_image1",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "product_title1",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "product_caption1",
            "label": "Caption"
          }, {
            "type": "product",
            "id": "product_id2",
            "label": "Product"
          }, {
            "type": "image_picker",
            "id": "product_image2",
            "label": "Image"
          }, {
            "type": "text",
            "id": "product_title2",
            "label": "Title"
          }, {
            "type": "text",
            "id": "product_caption2",
            "label": "Caption"
          }, {
            "type": "product",
            "id": "product_id3",
            "label": "Product"
          }, {
            "type": "image_picker",
            "id": "product_image3",
            "label": "Image"
          }, {
            "type": "text",
            "id": "product_title3",
            "label": "Title"
          }, {
            "type": "text",
            "id": "product_caption3",
            "label": "Caption"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Most Loved Flavors"
      }
    ]
  }
{% endschema %}