{% if section.blocks.size > 0 %}
  <div class="fluid-container wrapper--{{section.id}} p-5">
    <div class="col-12 page-width  text-center d-flex flex-column flex-md-row ">
      <div
        class="col-12 col-md-5">
        <h2 class="h1 pc-main-heading">{{ section.settings.title_1 }}</h2>
      </div>
      <div class="col-12 col-md-2">
        {% render 'image', class: '', mobileSrc: section.settings.logo, desktopSrc: section.settings.logo %}
      </div>
      <div class="col-12 col-md-5">
        <h2 class="h1 pc-main-heading">{{ section.settings.title_2 }}</h2>
      </div>
    </div>
    <div class="col-12 page-width mt-3 d-flex flex-column flex-md-row text-center">
      <div class="col-12 col-md-4 text-md-end">
        <h4 class="pc-heading">{{ section.settings.title_1 }}</h4>

        {% for block in section.blocks %}
          {% if block.settings.item1text != blank %}
            <div>
              <span class="pc-text">{{ block.settings.item1text }}</span>
              <span>
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.3916 7.90715H10.8346C10.6837 7.90715 10.5629 7.81661 10.4724 7.69589C10.412 7.54499 10.412 7.39409 10.4724 7.27337C10.6535 7.00174 10.8044 6.66976 10.9553 6.30759C11.2873 5.40218 11.1967 4.55713 11.076 3.9837C10.9855 3.65172 10.7742 3.38009 10.5328 3.34991H10.5026C10.5026 3.34991 10.3819 3.34991 10.231 3.41028C10.1102 3.531 9.77825 4.37605 9.59716 4.88911C9.44626 5.28146 9.29536 5.64362 9.17464 5.91525C8.81247 6.66976 8.14851 7.30355 7.24309 7.81661C7.21291 7.84679 7.15255 7.84679 7.12237 7.84679C6.73003 7.87697 6.51876 7.90715 6.42822 7.93734V14.0638H13.4904C13.8526 14.0638 14.1846 13.8223 14.1846 13.5507C14.1846 13.3696 14.1242 13.2489 14.0639 13.1886C13.9431 13.0376 13.7319 12.9773 13.5206 12.9773C13.3395 12.9773 13.2188 12.8566 13.2188 12.6755C13.2188 12.4944 13.3395 12.3737 13.5206 12.3737H14.094C14.4562 12.3737 14.7882 12.1322 14.7882 11.8606C14.7882 11.6795 14.7278 11.5588 14.6675 11.4984C14.5468 11.3475 14.3355 11.2872 14.1242 11.2872C13.9431 11.2872 13.8224 11.1665 13.8224 10.9854C13.8224 10.8043 13.9431 10.6836 14.1242 10.6836H14.7882C15.1504 10.6836 15.4823 10.4421 15.4823 10.1705C15.4823 9.98943 15.422 9.86871 15.3616 9.80835C15.2409 9.65744 15.0296 9.59708 14.8184 9.59708C14.6373 9.59708 14.5166 9.47636 14.5166 9.29528C14.5166 9.1142 14.6373 8.99348 14.8184 8.99348H15.422C15.6332 8.99348 15.8445 8.90294 15.9652 8.75203C16.0256 8.69167 16.1161 8.57095 16.086 8.38987C16.0558 8.11824 15.754 7.90698 15.3918 7.90698L15.3916 7.90715Z" fill="#A2C97F" />
                  <path d="M9.50665 0C4.25526 0 0 4.25561 0 9.50665C0 14.7577 4.25561 19.0133 9.50665 19.0133C14.7577 19.0133 19.0133 14.7577 19.0133 9.50665C19.0133 4.25561 14.7577 0 9.50665 0ZM15.8745 9.50665C16.0254 9.71792 16.0858 9.95936 16.0858 10.2008C16.0556 10.6837 15.6935 11.076 15.1804 11.2269C15.3313 11.4382 15.3917 11.6495 15.3615 11.8909C15.3313 12.3436 14.9993 12.7058 14.5466 12.8869C14.6975 13.0981 14.7579 13.3396 14.7579 13.581C14.7277 14.1846 14.1543 14.6675 13.4601 14.6675H6.30719H6.24683C6.09592 14.8788 5.85448 15.0297 5.55268 15.0297H4.40582C3.92293 15.0297 3.53059 14.6071 3.53059 14.0941V7.8469C3.53059 7.33384 3.92293 6.91131 4.40582 6.91131H5.55268C5.88466 6.91131 6.15628 7.09239 6.30719 7.36402C6.48827 7.33384 6.72971 7.30366 7.03152 7.27348C7.81621 6.82077 8.35945 6.27752 8.66126 5.67392C8.78198 5.43247 8.9027 5.07031 9.0536 4.70814C9.50631 3.53111 9.71757 3.04822 9.98919 2.89732C10.291 2.74642 10.5626 2.7766 10.5928 2.7766H10.6532C11.136 2.83696 11.5284 3.25948 11.7095 3.83291C11.8604 4.4667 11.9811 5.46265 11.5586 6.51897C11.468 6.79059 11.3473 7.03203 11.2266 7.27348H15.4215C16.1156 7.27348 16.6891 7.75636 16.7193 8.35997C16.7494 8.66177 16.6287 8.9334 16.4476 9.14466C16.2665 9.32574 16.0855 9.44647 15.8742 9.50683L15.8745 9.50665Z" fill="#A2C97F" />
                  <path d="M5.55324 7.54497H4.40639C4.25549 7.54497 4.13477 7.69587 4.13477 7.87696V14.1241C4.13477 14.3052 4.25549 14.4561 4.40639 14.4561H5.55324C5.70415 14.4561 5.82487 14.3052 5.82487 14.1241V7.8466C5.82487 7.66552 5.70415 7.5448 5.55324 7.5448V7.54497Z" fill="#A2C97F" />
                </svg>
              </span>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="col-12 col-md-4 p-3">{% render 'image', class: 'product-compare-image media media--square', mobileSrc: section.settings.image, desktopSrc: section.settings.image %}
      </div>
      <div class="col-12 col-md-4 text-md-start">
        <h4 class="pc-heading">{{ section.settings.title_2 }}</h4>
        {% for block in section.blocks %}
          {% if block.settings.item2text != blank %}
            <div>
              <span>
                <svg
                  width="19"
                  height="19"
                  viewBox="0 0 19 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.117 6.38171C13.0042 6.11214 12.889 5.86271 12.7179 5.74396C12.5255 5.60864 12.1919 5.60148 11.8974 5.59432C10.3608 5.5706 8.81702 5.56702 7.27561 5.57537C7.29814 6.03965 7.27561 6.50522 7.24831 6.96234L7.09033 10.4726C7.49524 10.5047 7.89546 10.52 8.28262 10.5011C8.49997 10.4845 8.70421 10.6365 8.76359 10.8525C8.87876 11.2847 9.00228 11.7147 9.12581 12.1445C9.26709 12.6384 9.40731 13.1325 9.53906 13.6289C9.5759 13.7607 9.62812 13.9495 9.70062 14.0041C9.76953 14.0563 9.97854 14.0481 10.1328 14.0445C10.5686 14.0232 10.6209 13.9293 10.6209 13.9281C10.6411 13.8795 10.609 13.7191 10.5936 13.642L10.2778 12.1054C10.1209 11.3335 10.337 10.7671 10.8571 10.5901C11.0471 10.5272 11.2277 10.5344 11.3938 10.5545L13.4624 10.7683C13.7439 10.798 14.0075 10.8265 14.2236 10.7659C14.3886 10.7219 14.524 10.6139 14.5454 10.5106C14.5619 10.4216 14.5133 10.2624 14.4753 10.133C14.099 8.88019 13.6407 7.61781 13.1169 6.38156L13.117 6.38171Z" fill="#D0B8A8" />
                  <path d="M9.5 0C4.25362 0 0 4.25362 0 9.5C0 14.7464 4.25362 19 9.5 19C14.7464 19 19 14.7464 19 9.5C19 4.25362 14.7464 0 9.5 0ZM15.4779 10.696C15.3805 11.1626 14.9875 11.5474 14.4745 11.6816C14.0873 11.7909 13.7026 11.7494 13.3617 11.7113L11.2896 11.4976C11.2017 11.4892 11.1684 11.4904 11.1553 11.4916C11.1802 11.4952 11.1541 11.6531 11.2075 11.9156L11.5234 13.4522C11.5674 13.6671 11.6314 13.9877 11.4937 14.3036C11.2253 14.9413 10.4321 14.9804 10.172 14.9935C10.1103 14.9959 10.0438 14.9983 9.97497 14.9983C9.7054 14.9983 9.39316 14.965 9.12475 14.7608C8.79819 14.5126 8.69138 14.1302 8.62244 13.8773C8.49176 13.381 8.35287 12.8941 8.21279 12.4073C8.12121 12.0913 8.03095 11.7765 7.94427 11.4607C7.65336 11.4631 7.34934 11.4358 7.04781 11.4133L7.04662 11.4299C7.03469 11.6863 6.84 11.9001 6.56327 11.8835C6.14168 11.8764 5.74274 11.9156 5.32712 11.9583C4.93521 11.9987 4.53153 12.039 4.09456 12.039C4.05414 12.039 4.01385 12.039 3.97343 12.0378C3.84394 12.0354 3.71936 11.9796 3.6315 11.8834C3.54349 11.7885 3.49949 11.6614 3.50784 11.5308C3.65747 9.37185 3.82606 6.9257 3.50546 4.6586C3.4865 4.52792 3.52322 4.39499 3.60645 4.29281C3.68955 4.19063 3.81188 4.12781 3.94375 4.11827L5.38306 4.02443C5.79869 3.99713 6.31291 3.96386 6.80328 4.13722C6.94575 4.18824 7.05509 4.30222 7.09777 4.44721C7.11553 4.50539 7.12149 4.56596 7.13581 4.62414C8.72699 4.6146 10.3207 4.62057 11.913 4.64429C12.3025 4.65264 12.8333 4.66443 13.2608 4.96489C13.6384 5.2285 13.8273 5.62636 13.9887 6.0123C14.5255 7.27814 14.9957 8.57377 15.3816 9.8598C15.4504 10.0749 15.5407 10.3706 15.4777 10.696L15.4779 10.696Z" fill="#D0B8A8" />
                  <path d="M5.44717 4.97211L4.51016 5.03254C4.73693 7.06083 4.62176 9.16402 4.49121 11.0779C4.73706 11.0636 4.98053 11.0399 5.23102 11.0138C5.51716 10.9841 5.81046 10.9544 6.11809 10.9413L6.30098 6.90515C6.34021 6.24965 6.37931 5.57637 6.25592 4.97546C6.00053 4.93531 5.72141 4.95426 5.4472 4.97215L5.44717 4.97211Z" fill="#D0B8A8" />
                </svg>
              </span>
              <span class="pc-text">
                {{ block.settings.item2text }}
              </span>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

<style>
  .wrapper--{{ section.id}}{
    background-color: {{ section.settings.bg_color}}
    ;
    color: #181818;
    font-family: 'Sharp Grotesk';
    font-style: normal;

  }
  .pc-heading {
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.035em;
  }
  .pc-main-heading {
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.035em;
  }
  .pc-text {
    font-weight: 400;
    line-height: 192.5%;
    letter-spacing: -0.025em;
    font-family: 'Inter';
    font-style: normal;
  }
</style>

{% schema %}
  {
    "name": "Product Comparision",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "label": "Background Color",
        "default": "#F4EBDE",
        "id": "bg_color"
      },
      {
        "type": "text",
        "id": "title_1",
        "label": "Title 1",
        "default": "Vegan Way Protein"
      },
      {
        "type": "text",
        "id": "title_2",
        "label": "Title 2",
        "default": "Whey Protein"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Compare Logo"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Compare Image"
      }
    ],
    "blocks": [
      {
        "name": "Product 1",
        "limit": 10,
        "type": "item1-block",
        "settings": [
          {
            "type": "text",
            "id": "item1text",
            "label": "Text",
            "default": "Text"
          }
        ]
      }, {
        "name": "Product 2",
        "limit": 10,
        "type": "item2-block",
        "settings": [
          {
            "type": "text",
            "id": "item2text",
            "label": "Text",
            "default": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Comparision"
      }
    ]
  }
{% endschema %}