{% if section.blocks.size > 0 %}
  <div class="rated-section wrapper--{{section.id}} p-5 fluid-container">
    <div class="row  g-0 text-center">
      <div class="col-12">
        <div class="d-flex justify-content-center align-items-center">
          <span class="rated-section__caption-text me-2">{{ section.settings.caption }}</span>
          <span>
            <svg
              width="122"
              height="22"
              viewBox="0 0 122 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_7137_80)">
                <path d="M32.7465 7.63814L35.8286 1.44971L39.2806 7.63814L45.6914 8.9274L40.8832 13.9555L41.7463 21.1754L35.8286 17.9522L29.7876 21.1754L30.5273 13.9555L25.9658 8.9274L32.7465 7.63814Z" fill="#FEA500" />
                <path d="M7.65373 7.63814L10.7358 1.44971L14.1878 7.63814L20.5987 8.9274L15.7906 13.9555L16.6535 21.1754L10.7358 17.9522L4.69489 21.1754L5.43459 13.9555L0.873047 8.9274L7.65373 7.63814Z" fill="#FEA500" />
                <path d="M57.8319 7.63814L60.914 1.44971L64.366 7.63814L70.7769 8.9274L65.9688 13.9555L66.8317 21.1754L60.914 17.9522L54.8731 21.1754L55.6128 13.9555L51.0513 8.9274L57.8319 7.63814Z" fill="#FEA500" />
                <path d="M82.9214 7.63814L86.0035 1.44971L89.4555 7.63814L95.8663 8.9274L91.0581 13.9555L91.9212 21.1754L86.0035 17.9522L79.9625 21.1754L80.7022 13.9555L76.1406 8.9274L82.9214 7.63814Z" fill="#FEA500" />
                <path d="M108.011 7.63814L111.093 1.44971L114.545 7.63814L120.956 8.9274L116.148 13.9555L117.01 21.1754L111.093 17.9522L105.052 21.1754L105.791 13.9555L101.23 8.9274L108.011 7.63814Z" fill="#FEA500" />
              </g>
              <defs>
                <clipPath id="clip0_7137_80">
                  <rect
                    width="120.952"
                    height="20.9524"
                    fill="white"
                    transform="translate(0.0712891 0.904785)" />
                </clipPath>
              </defs>
            </svg>
          </span>
        </div>
        <h2 class="fs-2 m-auto my-4 rated-section__heading">
          {{ section.settings.heading }}
        </h2>
        <p class="rated-section__subheading">
          {{ section.settings.subheading }}
        </p>
        <div>
          <a class="btn rated-section__btn my-4 px-5 py-2" href="{{ section.settings.button_link }}">{{ section.settings.button_text }}
          </a>
        </div>
      </div>
    </div>
    <div class="row g-0 mt-4">
      <div class="rated-section__image-wrapper page-width col-12" data-flickity='{ "cellAlign": "left", "contain": true,"pageDots": false,"prevNextButtons": false,"autoPlay": false,"groupCells": true }'>
        {% for block in section.blocks %}
          <div class="col-6 col-md-3 col-xl-2">
            {% render 'image', class: 'rated-section__image media media--square', mobileSrc: , desktopSrc: block.settings.image %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}


{% style %}
  .wrapper--{{ section.id}}{
    background-color: {{ section.settings.bg_color}}
    ;
  }
{% endstyle %}

<style>
  .rated-section__caption-text {
    font-family: 'Sharp Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18.6039px;
    line-height: 19px;
    color: #181818;
    margin-right: 5px;
  }

  .rated-section__heading {
    font-family: 'Sharp Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    color: #017149;
    max-width: 634px;
  }
  .rated-section__subheading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 128%;
    color: #515151;

  }
  .rated-section__btn {
    background: #017149;
    border-radius: 28.5714px;
    font-family: 'Sharp Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
  }
  .rated-section__image img {
    padding: 5px;
    height: auto;
    width: auto;


  }
</style>

{% schema %}
  {
    "name": "Rated 5 Stars",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Backgroud color",
        "default": "#E5E5E5"
      },
      {
        "type": "text",
        "id": "caption",
        "label": "Caption",
        "default": "Rated 5 stars"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Fuel Up Your Day With India’s Tastiest Vegan Protein"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "subheading",
        "default": "Zero Bloating | Designed For Everyday Health | All Natural"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "TRY NOW"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "blocks": [
      {
        "name": "Image",
        "type": "image-block",
        "limit": 6,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Rated 5 Stars"
      }
    ]
  }
{% endschema %}