<div class="fluid-container recipes-section--{{ section.id }} p-4">
  <div class="recipes-section__wrapper page-width my-5 d-flex flex-wrap justify-content-center">
    <div class="d-flex flex-column flex-lg-row">
      <div class="col-12 col-lg-4  p-2">
        <div class="fs-3 recipes-section__heading">{{ section.settings.heading }}</div>
        <div class="recipes-section__text my-3">{{ section.settings.description }}</div>
        <div>
          <a class="btn recipes-section__button  my-4 px-4" href="{{ section.settings.link_url }}">{{ section.settings.link_text }}</a>
        </div>
      </div>
      <div class="recipe-items__wrapper col-12 col-lg-8 d-flex overflow-auto">
        <div class="col-8 col-sm-4 p-2">
          <div>
            {% render 'image', class: 'recipe-image media media--portrait', mobileSrc: section.settings.recipe1image, desktopSrc: section.settings.recipe1image %}
          </div>
          <div class="recipe-title my-3">{{ section.settings.recipe1text }}</div>
          <div>
            <a class="recipe-link" href="{{ section.settings.recipe1link }}">Read More</a>
          </div>
        </div>
        <div class="col-8 col-sm-4 p-2">
          <div>
            {% render 'image', class: 'recipe-image media media--portrait', mobileSrc: section.settings.recipe2image, desktopSrc: section.settings.recipe2image %}
          </div>
          <div class="recipe-title my-3">{{ section.settings.recipe2text }}</div>
          <div>
            <a class="recipe-link" href="{{ section.settings.recipe2link }}">Read More</a>
          </div>
        </div>
        <div class="col-8 col-sm-4 p-2">
          <div>
            {% render 'image', class: 'recipe-image media media--portrait', mobileSrc: section.settings.recipe3image, desktopSrc: section.settings.recipe3image %}
          </div>
          <div class="recipe-title my-3">{{ section.settings.recipe3text }}</div>
          <div>
            <a class="recipe-link" href="{{ section.settings.recipe3link }}">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% assign main_font = "Sharp Grotesk" %}
{% assign second_font = "Inter" %}
{% comment %}
{% if template contains "index" %}
{% assign main_font = "Sharp Grotesk" %}
{% assign second_font = "Inter" %}
{% endif %}
{% if template contains "product" %}
{% assign main_font = "Pluto" %}
{% assign second_font = "Pluto" %}
{% endif %}
{% endcomment %}<style>
  .recipe-image img {}
  .recipes-section--{{ section.id }}{
    background-color: {{ section.settings.bg_color }}
    ;
  }
  .recipes-section__heading {
    font-family: {{ main_font }}
    ;
    font-style: normal;
    font-weight: 500;
    line-height: 128.5%;
    text-transform: capitalize;
    color: {{ section.settings.heading_color }}
    ;
  }
  .recipes-section__text {
    font-family: {{ second_font }}
    ;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.5%;
    color: {{ section.settings.description_color }}
    ;

  }
  .recipes-section__button {
    font-family: {{ main_font }}
    ;
    font-style: normal;
    font-weight: 500;
    background: {{ section.settings.btn_color }}
    ;
    color: #fff;
    border-radius: 28.5714px;
  }
  .recipes-section__button:hover {
    color: #fff !important;
  }
  .recipe-title {
    font-family: {{ main_font }}
    ;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 109%;
    color: #181818;
  }
  .recipe-link {
    font-family: {{ second_font }}
    ;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 109%;
    text-decoration-line: underline;
    color: {{ section.settings.btn_color }}
    ;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .recipe-items__wrapper::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .recipe-items__wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
{% schema %}
{
  "name": "Recipes Section",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#E5E5E5"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Recipes"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#181818"
    },
    {
      "type": "text",
      "id": "description",
      "default": "Description",
      "label": "Description"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color",
      "default": "#474747"
    },
    {
      "type": "text",
      "id": "link_text",
      "default": "More Recipes",
      "label": "Button Text"
    },
    {
      "type": "color",
      "id": "btn_color",
      "label": "Button Color",
      "default": "#017149"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Button Link"
    },
    {
      "type": "image_picker",
      "id": "recipe1image",
      "label": "Recipe 1 Image"
    },
    {
      "type": "text",
      "id": "recipe1text",
      "label": "Recipe 1 Text"
    },
    {
      "type": "text",
      "id": "recipe1link",
      "label": "Recipe 1 Link"
    },
    {
      "type": "image_picker",
      "id": "recipe2image",
      "label": "Recipe 2 Image"
    },
    {
      "type": "text",
      "id": "recipe2text",
      "label": "Recipe 2 Text"
    },
    {
      "type": "text",
      "id": "recipe2link",
      "label": "Recipe 2 Link"
    },
    {
      "type": "image_picker",
      "id": "recipe3image",
      "label": "Recipe 3 Image"
    },
    {
      "type": "text",
      "id": "recipe3text",
      "label": "Recipe 3 Text"
    },
    {
      "type": "text",
      "id": "recipe3link",
      "label": "Recipe 3 Link"
    }
  ],
  "presets": [
    {
      "name": "Recipes Section"
    }
  ]
}
{% endschema %}