{% if section.blocks.size > 0 %}
  <div class="fluid-container sam__container--{{ section.id }} mt-0 d-lg-none">
    <div class="row g-0 p-5">
      <div class="col-12 pb-3 m-auto sam__main-wrapper">
        <div class="mb-2">
          <span>
            <svg
              width="117"
              height="19"
              viewBox="0 0 117 19"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M9.61048 0L12.5789 6.14399L19.2148 7.12728L14.4127 11.9059L15.5473 18.6574L9.61048 15.4696L3.67369 18.6574L4.80831 11.9059L0 7.12728L6.64209 6.14399L9.61048 0Z" fill="#FEA500" />
              <path d="M33.8795 0L36.8479 6.14399L43.4839 7.12728L38.6817 11.9059L39.8163 18.6574L33.8795 15.4696L27.9427 18.6574L29.0774 11.9059L24.269 7.12728L30.9111 6.14399L33.8795 0Z" fill="#FEA500" />
              <path d="M58.1468 0L61.1152 6.14399L67.7512 7.12728L62.949 11.9059L64.0836 18.6574L58.1468 15.4696L52.21 18.6574L53.3447 11.9059L48.5425 7.12728L55.1784 6.14399L58.1468 0Z" fill="#FEA500" />
              <path d="M83.1278 0L86.0962 6.14399L92.7321 7.12728L87.93 11.9059L89.0646 18.6574L83.1278 15.4696L77.191 18.6574L78.3256 11.9059L73.5234 7.12728L80.1594 6.14399L83.1278 0Z" fill="#FEA500" />
              <path d="M107.396 0L110.364 6.14399L117 7.12728L112.198 11.9059L113.333 18.6574L107.396 15.4696L101.459 18.6574L102.594 11.9059L97.7915 7.12728L104.427 6.14399L107.396 0Z" fill="#FEA500" />
            </svg>
          </span>
          <span class="ms-1 sam__caption">
            {{ section.settings.caption }}
          </span>
        </div>
        <div class="mb-2 fs-2">
          <span class="sam__heading">{{ section.settings.heading }}</span>
          <span class="sam__heading-highlight">{{ section.settings.heading_highlight }}</span>
        </div>
        <div class="sam__subheading">
          {{ section.settings.subheading }}
        </div>
        <div class="my-3">
          <a class="btn sam__button px-4" href="{{ section.settings.btn_link }}">{{ section.settings.btn_text }}</a>
        </div>
      </div>
      <div class="col-12 text-center d-flex flex-wrap justify-content-center align-items-center sam__wrapper">
        {% for block in section.blocks %}
          <div class="p-2 py-4 col-6 col-md-4">
            <div class="sam-img-item">
              {% render 'image', class: '', mobileSrc: block.settings.image, desktopSrc: block.settings.image %}
            </div>
            <div class="my-2 sam__title">{{ block.settings.title }}</div>
            <p class="sam__text">{{ block.settings.text }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

{% style %}
  .sam__container--{{ section.id }}{
    background: url('{{ section.settings.bg_image | image_url: width: 480, height: 480 }}');
    background-size: cover;
    font-family: 'Sharp Grotesk'
  }
{% endstyle %}

<style>
  .sam-img-item {
    height: 80px;
  }
  .sam__main-wrapper {
    max-width: 500px;
  }
  .sam__caption {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #181818;
  }
  .sam__heading {
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    color: #181818;
  }
  .sam__heading-highlight {
    color: #017149;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
  }
  .sam__subheading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 113.5%;
    color: #393939;
  }
  .sam__title {
    font-family: 'Sharp Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-transform: capitalize;
    color: #222222;
  }
  .sam__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #151515;
  }
  .sam__button {
    background: #017149;
    border-radius: 28.5714px;
    font-family: 'Sharp Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: #fff;
  }
  .sam__button:hover {
    color: #fff;
  }
</style>
{% schema %}
  {
    "name": "Slide Alt Mobile",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "caption",
        "label": "Caption",
        "default": "41,696 Five Star Reviews"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Everything You Need Is"
      },
      {
        "type": "text",
        "id": "heading_highlight",
        "label": "Highlight Text",
        "default": "Right Here!"
      }, {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "20+ Plant-Based Superfoods & Is Rich in Nutrients"
      }, {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "default": "Try Veganway"
      }, {
        "type": "url",
        "id": "btn_link",
        "label": "Button Link"
      }
    ],
    "blocks": [
      {
        "name": "Text Block",
        "type": "sam",
        "limit": 6,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Nutritionally complete"
          }, {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Balanced in protein, fibre, cards, vitamins & minerals"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slide Alt Mobile"
      }
    ]
  }
{% endschema %}