{% if section.blocks.size > 0 %}
  <div class="fluid-container text-block__container--{{section.id}}">
    <div class="row g-0 p-5">
      <div class="col-12 d-flex flex-wrap justify-content-center align-items-center text-block__wrapper">
        {% for block in section.blocks %}
          <div class="p-3 col-12 col-sm-6  col-md-4 col-lg-2 text-center">
            {% render 'image', class: '', mobileSrc: block.settings.image, desktopSrc: block.settings.image %}
            <div class="my-2 text-block__title">{{ block.settings.title }}</div>
            <p class="text-block__text">{{ block.settings.text }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

{% style %}
  .text-block__wrapper {
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid #FFFFFF;
    border-radius: 19px;
  }
  .text-block__container--{{ section.id}}{
    background: url('{{section.settings.bg_image | img_url: 'large'}}');
    background-size: cover;

  }
{% endstyle %}

<style>
  .text-block__title {
    font-family: 'Sharp Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-transform: capitalize;
    color: #222222;
  }
  .text-block__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #151515;
  }
</style>
{% schema %}
  {
    "name": "Supporting Text Block",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      }
    ],
    "blocks": [
      {
        "name": "Text Block",
        "type": "text-block",
        "limit": 5,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          }, {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Supporting Text Block"
      }
    ]
  }
{% endschema %}