{% if section.blocks.size > 0 %}
  <div class="testimonials__wrapper-{{section.id}} fluid-container">
    <div class="row  g-0 p-5">
      <div class="col-12 d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex align-items-center flex-wrap">
          <span class="h1 testimonials__main-heading">{{ section.settings.heading }}</span>
          <span class="ms-3">
            <svg
              width="175"
              height="30"
              viewBox="0 0 175 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15.2104 1L19.5996 10.0847L29.4117 11.5386L22.311 18.6045L23.9887 28.5875L15.2104 23.8739L6.43205 28.5875L8.10973 18.6045L1 11.5386L10.8212 10.0847L15.2104 1Z"
                fill="#FEA500"
                stroke="#C1942D"
                stroke-width="0.5"
                stroke-miterlimit="10" />
              <path
                d="M51.0952 1L55.4843 10.0847L65.2965 11.5386L58.1958 18.6045L59.8735 28.5875L51.0952 23.8739L42.3168 28.5875L43.9945 18.6045L36.8848 11.5386L46.706 10.0847L51.0952 1Z"
                fill="#FEA500"
                stroke="#C1942D"
                stroke-width="0.5"
                stroke-miterlimit="10" />
              <path
                d="M86.9777 1L91.3669 10.0847L101.179 11.5386L94.0784 18.6045L95.756 28.5875L86.9777 23.8739L78.1993 28.5875L79.877 18.6045L72.7764 11.5386L82.5885 10.0847L86.9777 1Z"
                fill="#FEA500"
                stroke="#C1942D"
                stroke-width="0.5"
                stroke-miterlimit="10" />
              <path
                d="M123.916 1L128.305 10.0847L138.117 11.5386L131.016 18.6045L132.694 28.5875L123.916 23.8739L115.137 28.5875L116.815 18.6045L109.714 11.5386L119.527 10.0847L123.916 1Z"
                fill="#FEA500"
                stroke="#C1942D"
                stroke-width="0.5"
                stroke-miterlimit="10" />
              <path
                d="M159.799 1L164.188 10.0847L174 11.5386L166.9 18.6045L168.577 28.5875L159.799 23.8739L151.021 28.5875L152.698 18.6045L145.598 11.5386L155.41 10.0847L159.799 1Z"
                fill="#FEA500"
                stroke="#C1942D"
                stroke-width="0.5"
                stroke-miterlimit="10" />
            </svg>
          </span>
        </div>
        <div class="h1 testimonials__sub-heading mb-4">{{ section.settings.subheading }}</div>
      </div>
      <div class="col-12 testimonial-wrapper" data-flickity='{ "cellAlign": "left", "contain": true,"pageDots": true ,"groupCells": true,"prevNextButtons": false}'>
        {% for block in section.blocks %}
          <div class="col-12 col-md-4 carousel-cell">
            <div class="testimonial__item p-3">
              <div class="d-flex">
                <div class="me-2">
                  <img src="{{block.settings.image | img_url: '50x48'}}" alt="{{ block.settings.name }}">
                </div>
                <div>
                  <p>
                    <span class="testimonials__name">{{ block.settings.name }}</span>
                    <br>
                    <span>
                      <svg
                        width="13"
                        height="14"
                        viewBox="0 0 13 14"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_7168_2526)">
                          <path d="M6.42092 12.3711C3.46605 12.3711 1.0708 9.97589 1.0708 7.02102C1.0708 4.06615 3.46605 1.6709 6.42092 1.6709C9.3758 1.6709 11.771 4.06615 11.771 7.02102C11.771 9.97589 9.3758 12.3711 6.42092 12.3711ZM5.88752 9.16107L9.67005 5.378L8.91355 4.62149L5.88752 7.64806L4.37397 6.13451L3.61746 6.89101L5.88752 9.16107Z" fill="#666868" />
                        </g>
                        <defs>
                          <clipPath id="clip0_7168_2526">
                            <rect
                              width="12.8403"
                              height="12.8403"
                              fill="white"
                              transform="translate(0.000488281 0.60083)" />
                          </clipPath>
                        </defs>
                      </svg>
                    </span>
                    <span class="testimonials__buyer">VERIFIED BUYER</span>
                  </p>

                </div>
              </div>
              <div>
                <svg
                  width="100"
                  height="20"
                  viewBox="0 0 100 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.13865 7.18262L9.58848 2.26367L12.3323 7.18262L17.4279 8.20739L13.6062 12.204L14.2921 17.9428L9.58848 15.3809L4.78681 17.9428L5.37477 12.204L1.74902 8.20739L7.13865 7.18262Z" fill="#FFA944" />
                  <path d="M27.0806 7.1825L29.5304 2.26355L32.2742 7.1825L37.3699 8.20729L33.5481 12.2039L34.2341 17.9427L29.5304 15.3807L24.7287 17.9427L25.3167 12.2039L21.6909 8.20729L27.0806 7.1825Z" fill="#FFA944" />
                  <path d="M47.0224 7.1825L49.4723 2.26355L52.2161 7.1825L57.3117 8.20729L53.49 12.2039L54.1759 17.9427L49.4723 15.3807L44.6706 17.9427L45.2586 12.2039L41.6328 8.20729L47.0224 7.1825Z" fill="#FFA944" />
                  <path d="M66.9643 7.1825L69.4139 2.26355L72.1581 7.1825L77.2536 8.20729L73.4319 12.2039L74.118 17.9427L69.4139 15.3807L64.6125 17.9427L65.2005 12.2039L61.5747 8.20729L66.9643 7.1825Z" fill="#FFA944" />
                  <path d="M86.9055 7.1825L89.3558 2.26355L92.0993 7.1825L97.1954 8.20729L93.3731 12.2039L94.0592 17.9427L89.3558 15.3807L84.5542 17.9427L85.142 12.2039L81.5161 8.20729L86.9055 7.1825Z" fill="#FFA944" />
                </svg>
              </div>
              <div class="mt-3 testimonials__text">
                {{ block.settings.text }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}


{% style %}
  .testimonials__wrapper-{{ section.id}}{
    background-color: {{ section.settings.bg_color}}
    ;
  }
{% endstyle %}

<style>
  .testimonial__item {
    background-color: #fff;
    border-radius: 15.6176px;
  }
  .carousel-cell {
    width: 100%;
    margin-right: 20px;
    counter-increment: carousel-cell;
  }
  @media(min-width:768px) {
    .carousel-cell {
      width: 32%;
      margin-right: 20px;
      counter-increment: carousel-cell;
    }
  }
  .testimonials__main-heading,
  .testimonials__sub-heading {
    font-family: 'Sharp Grotesk';
    font-style: normal;
    font-weight: 500;
    line-height: 51px;
    color: #181818;
  }
  .testimonials__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #2C2C2C;
  }
  .testimonials__buyer {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11.4136px;
    line-height: 19px;
    color: #2B2B2B;
  }
  .testimonials__text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142%;
    color: #595959;
  }
</style>

{% schema %}
  {
    "name": "Testimonials",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#E5E5E5"
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Rated 5 star"
      }, {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "By 50,000 Customers"
      }
    ],
    "blocks": [
      {
        "name": "Testimonial",
        "type": "testimonial-section",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "label": "Name",
            "id": "name",
            "default": "Name"
          }, {
            "type": "richtext",
            "label": "Text",
            "id": "text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials"
      }
    ]
  }
{% endschema %}