{{ 'vedio_section.css' | asset_url | stylesheet_tag }}

{% if section.settings.video != blank %}
  <div class="fluid-container video">
    <div class="col-12 video-section p-0">
      <div class="video-sectionitem">
        <div class="video-sectionitem-wrap">
          {% for video in section.settings.video.sources %}
            {% if video.format == 'mp4' %}
              <div class="media media--video">
                <video
                  autoplay
                  muted
                  loop
                  playsinline>
                  <source src="{{ video.url }}" type="{{ video.mime_type }}">
                </video>
              </div>
            {% endif %}
          {% endfor %}

          <div class="video__content d-flex justify-content-center align-items-center">
            <div class="video__content-wrapper text-center">

              {% if section.settings.heading != blank %}
                <div class="video__heading fs-1 px-3 video-section__main-heading video-section__text--color">
                  {{ section.settings.heading }}
                </div>
              {% endif %}

              {% if section.settings.subheading != blank %}
                <p class="video__paragraph fs-5 video-section__subheading video-section__text--color px-4 p-3">
                  {{ section.settings.subheading }}
                </p>
              {% endif %}

              {% if section.settings.button_text != blank %}
                <div class="video__button mt-3">
                  <a class="btn px-4 py-2 video-section__button" href="{{ section.settings.button_link }}">
                    {{ section.settings.button_text }}
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}



{% schema %}
  {
    "name": "Video",
    "tag": "section",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label": "Desktop Video"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subeading",
        "default": "Subheading"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Shop Now"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Video"
      }
    ]
  }
{% endschema %}